body {
  background-color: 	#db6161;
  margin: 21, 21, auto, auto;
  border-style: solid;
  border-width: 4px;
  border-color: #ffff00;
  
}

h1 {
	
	font-family: sans-serif;
  color: #75b855;
  margin: 10px, 10px, 10px, 10px;
  font-size: 80px;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: #157241;
  background-color: #ad3838;
  padding: 10, 10, 10, 10;
}

h2{

color: #75b855;
border-style: solid;
border-width: 4px;
  border-color: #157241;
  background-color: #ad3838;
	margin-top: 80px;
	margin-bottom: 0px;
	font-size: 60px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	
}

h3{

color: #75b855;
border-style: solid;
border-width: 4px;
  border-color: #157241;
  background-color: #ad3838;
	margin-top: 80px;
	margin-bottom: 0px;
	font-size: 40px;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	
}
p{
	margin-top: 4px;
	margin: auto 20px;
font-family: sans-serif;
font-size: 40px;
color: #157241;

}


#p1{
	 font-family: Arial, Helvetica, sans-serif;
	 color: #db6161;
}

//#of{
	 
}

#atr{
	margin-top: 0;
}

img {
	display: block;
	margin: 30px auto;
	text-align: center;

	height: 600px;
	width: auto;
}