
body {

background-color: #8f2464; 	/* 1 */
border-color: #c34758; 			/* 4 */




  margin: 21, 21, auto, auto;
  border-style: solid;
  border-width: 4px;
  
  
}

.headings
{
	color: #e17a4b;						/* 3 */
background-color: #451b64;	/* 2 */
border-color: #c34758;			/* 4 */



	font-family: sans-serif;
  margin: 10px, 10px, 10px, 10px;
  font-size: 80px;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  
  
  padding: 10, 10, 10, 10;
}


p{

color: #4894dc;     /* 5 */

	margin-top: 4px;
	margin: auto 20px;
	font-family: sans-serif;
	font-size: 40px;


}


#p1{

color: #8f2464;			/* 1 */

	 font-family: Arial, Helvetica, sans-serif;
	 
}

//#of{
	 
}

#atr{
	margin-top: 0;
}

img {
	display: block;
	margin: 30px auto;
	text-align: center;

	height: 600px;
	width: auto;
}